// THEME: "darkblue"

// ========================================================================
// font
// ========================================================================

// google font:
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700);

$font-name-body: "'Noto Serif', serif";
$font-name-form: "'Noto Serif', serif";
$font-name-menu: "'Noto Serif', serif";

$font-weight-thin: 400;
$font-weight-normal: 400;
$font-weight-bold: 700;

// traditional scale: (6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72)
$font-size-headline-large: 48px;
$font-size-headline: 36px;
$font-size-headline-small: 28px;
$font-size-teaser: 21px;
$font-size-text: 16px;

// ========================================================================
// border radius
// (global)
// for form input fields, buttons, navigation layer
// ========================================================================

// you dont want a border: hide the variable
$border-radius: 5px;

// ========================================================================
// colors
// ========================================================================

$color: #00b9c4; // blue
$color-gray: #f1f1f1; // default gray

$color-white: #ffffff;
$color-black: #000000;

$color-gray-light-xxx: mix($color-white, $color-gray, 85%);
$color-gray-light-xx: mix($color-white, $color-gray, 50%);
$color-gray-light-x: mix($color-white, $color-gray, 30%);
$color-gray-light: mix($color-white, $color-gray, 10%);
$color-gray-dark: mix($color-black, $color-gray, 10%);
$color-gray-dark-x: mix($color-black, $color-gray, 20%);
$color-gray-dark-xx: mix($color-black, $color-gray, 30%);
$color-gray-dark-xxx: mix($color-black, $color-gray, 50%);

$color-dark: mix($color-black, $color, 30%);

// special colors:
$color-error: #ff5f63; // red
$color-success: #83c46f; // green
$color-info: #e4965e; // yellow

// define colors for fonts, elements
// font:
$color-text: $color-black; //$color-white; // (p, i)
$color-headline: $color; // (h1,h2,h3...)
$color-headline-welcome: $color-dark; // (circular element / startscreen)
$color-input-text: $color-gray-dark-xxx;
$color-footer-text: $color-gray-dark-xxx;
$color-menu-link: $color-white; // menu tab
$color-menu-link-hover: $color-white; // menu tab
// elements:
$color-body: $color-gray; // document
$color-menu-icon: $color-black;  // (burger icon)
$color-menu-icon-background: $color-gray-dark;
$color-menu-background: $color;
$color-menu-tab-hover: $color-dark; // menu tab
$color-input-icon: $color;
$color-input-border: $color-gray-dark;
$color-input-background: $color-white;
$color-divider: $color-gray-dark; // border divider
$color-image-border: $color-white; // circular image border
$color-footer-background: $color-gray-dark;

// ========================================================================
// icons
// (svg inline) background-image: (extends)
// ========================================================================

.icon-text {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 768 768'><path fill='" + $color-input-icon + "' d='M96 160h576q13.25 0 22.625 9.375t9.375 22.625-9.375 22.625-22.625 9.375h-576q-13.25 0-22.625-9.375t-9.375-22.625 9.375-22.625 22.625-9.375zM96 544h448q13.25 0 22.625 9.375t9.375 22.625-9.375 22.625-22.625 9.375h-448q-13.25 0-22.625-9.375t-9.375-22.625 9.375-22.625 22.625-9.375zM96 416h576q13.25 0 22.625 9.375t9.375 22.625-9.375 22.625-22.625 9.375h-576q-13.25 0-22.625-9.375t-9.375-22.625 9.375-22.625 22.625-9.375zM96 288h448q13.25 0 22.625 9.375t9.375 22.625-9.375 22.625-22.625 9.375h-448q-13.25 0-22.625-9.375t-9.375-22.625 9.375-22.625 22.625-9.375z'></path></svg>");
}
.icon-email {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 768 768'><path fill='" + $color-input-icon + "' d='M128 96h512q39.75 0 67.875 28.125t28.125 67.875v384q0 39.75-28.125 67.875t-67.875 28.125h-512q-39.75 0-67.875-28.125t-28.125-67.875v-384q0-39.75 28.125-67.875t67.875-28.125zM672 576v-349.5l-268 214.5q-8.5 7-20 7t-20-7l-268-214.5v349.5q0 13.25 9.375 22.625t22.625 9.375h512q13.25 0 22.625-9.375t9.375-22.625zM640 160h-512q-4.75 0-10.5 1.75l266.5 213.25 266.5-213.25q-5.75-1.75-10.5-1.75z'></path></svg>");
}
.icon-user {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 768 768'><path fill='" + $color-input-icon + "' d='M384 0q52.25 0 96.375 25.75t69.875 69.875 25.75 96.375v96q0 40-15.5 75.75t-43.25 62.25q73 11.5 129.75 33.875t88.875 52.875 32.125 64.25v63q0 39.75-28.125 67.875t-67.875 28.125h-576q-39.75 0-67.875-28.125t-28.125-67.875v-63.25q0-33.75 32.125-64.25t88.75-52.875 129.625-33.625q-27.5-26.75-43-62.375t-15.5-75.625v-96q0-52.25 25.75-96.375t69.875-69.875 96.375-25.75zM384 480q-69.5 0-134.125 11.125t-112.625 31.125q-19.25 8-34.375 17t-23 16.25-11.875 12.625-4 8.625v63.25q0 13.25 9.375 22.625t22.625 9.375h576q13.25 0 22.625-9.375t9.375-22.625v-63q0-3.25-4-8.625t-11.875-12.625-23-16.25-34.375-17.25q-48-20-112.625-31.125t-134.125-11.125zM384 64q-53 0-90.5 37.5t-37.5 90.5v96q0 53 37.5 90.5t90.5 37.5 90.5-37.5 37.5-90.5v-96q0-53-37.5-90.5t-90.5-37.5z'></path></svg>");
}
.icon-web {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 768 768'><path fill='" + $color-input-icon + "' d='M224 32h320q39.75 0 67.875 28.125t28.125 67.875v608l-256-192-256 192v-608q0-39.75 28.125-67.875t67.875-28.125zM544 96h-320q-13.25 0-22.625 9.375t-9.375 22.625v480l192-144 192 144v-480q0-13.25-9.375-22.625t-22.625-9.375z'></path></svg>");
}
