/* HOWTO
@include zen-grid-item(2, 1, right); // width, position, left or right position
@include zen-float(left); // float
@include zen-new-row(left); // clear
@include undo-zen-new-row(); // clear: none;
*/
/* INFOs
Spelling of class names:
[project name]-[js]-[block name]_[element ++]--[modifier]
// op-head_logo_txt
// op-js-special-a_hdr_img

// acronyms [element]:

(_adr) address
(_btn) button
(_foot) footer
(_hdr) header
(_img) image
(_inp) input
(_lbl) label
(_lis) list
(_logo) logo
(_men) menu
(_prj) project
(_txt) text

*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/***************************************************************/
/* mobile reset: https://subvisual.co/blog/posts/53-a-better-reset-for-the-mobile-web */
*, *:before, *:after {
  /* suppressing the tap highlight */
  -webkit-tap-highlight-color: transparent;
  /* this is a personal preference */
  box-sizing: border-box;
  vertical-align: top;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

*:focus {
  /* the default outline doesn't play well with a mobile application,
     I usually start without it,
     but don't forget to research further to make your mobile app accessible. */
  outline: 0; }

input {
  border-radius: 0; }

html, body {
  /* we don't want to allow users to select text everywhere,
     you can enable it on the places you think appropriate */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/***************************************************************/
/* my reset */
a {
  text-decoration: none; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0; }

label {
  display: none; }

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  outline: none; }
  input:focus, textarea:focus {
    box-shadow: 0; }

textarea {
  resize: none; }

p {
  -webkit-text-size-adjust: 100%; }

.center-h, .op-page, .op-head_logo, .op-head_logo_txt, .op-pers_img_item, .op-favorite-b_prj_a_lbl, .op-favorite-b_prj_b_lbl, .op-favorite-b_prj_c_lbl {
  margin: 0 auto; }

.center-v, .op-head, .op-favorite-b_prj_a, .op-favorite-b_prj_b, .op-favorite-b_prj_c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.grid {
  box-sizing: border-box;
  position: relative;
  border: 1px solid lightblue; }

.resetlist, .op-nav_men {
  list-style: none;
  margin: 0;
  padding: 0; }
  .resetlist > li, .op-nav_men > li {
    margin: 0;
    padding: 0; }

/* background color incl automatic font color */
@font-face {
  font-family: "texgyreadventorregular";
  src: url("theme/darkblue/fonts/texgyreadventor-regular-webfont.eot");
  src: url("theme/darkblue/fonts/texgyreadventor-regular-webfont.eot?#iefix") format("embedded-opentype"), url("theme/darkblue/fonts/texgyreadventor-regular-webfont.woff2") format("woff2"), url("theme/darkblue/fonts/texgyreadventor-regular-webfont.woff") format("woff"), url("theme/darkblue/fonts/texgyreadventor-regular-webfont.ttf") format("truetype"), url("theme/darkblue/fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "texgyreadventorbold";
  src: url("theme/darkblue/fonts/texgyreadventor-bold-webfont.eot");
  src: url("theme/darkblue/fonts/texgyreadventor-bold-webfont.eot?#iefix") format("embedded-opentype"), url("theme/darkblue/fonts/texgyreadventor-bold-webfont.woff2") format("woff2"), url("theme/darkblue/fonts/texgyreadventor-bold-webfont.woff") format("woff"), url("theme/darkblue/fonts/texgyreadventor-bold-webfont.ttf") format("truetype"), url("theme/darkblue/fonts/texgyreadventor-bold-webfont.svg#texgyreadventorbold") format("svg");
  font-weight: 700;
  font-style: normal; }
.icon-text, .op-contact_item #usrtxt {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 768 768'><path fill='%2392959a' d='M96 160h576q13.25 0 22.625 9.375t9.375 22.625-9.375 22.625-22.625 9.375h-576q-13.25 0-22.625-9.375t-9.375-22.625 9.375-22.625 22.625-9.375zM96 544h448q13.25 0 22.625 9.375t9.375 22.625-9.375 22.625-22.625 9.375h-448q-13.25 0-22.625-9.375t-9.375-22.625 9.375-22.625 22.625-9.375zM96 416h576q13.25 0 22.625 9.375t9.375 22.625-9.375 22.625-22.625 9.375h-576q-13.25 0-22.625-9.375t-9.375-22.625 9.375-22.625 22.625-9.375zM96 288h448q13.25 0 22.625 9.375t9.375 22.625-9.375 22.625-22.625 9.375h-448q-13.25 0-22.625-9.375t-9.375-22.625 9.375-22.625 22.625-9.375z'></path></svg>"); }

.icon-email, .op-contact_item #email {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 768 768'><path fill='%2392959a' d='M128 96h512q39.75 0 67.875 28.125t28.125 67.875v384q0 39.75-28.125 67.875t-67.875 28.125h-512q-39.75 0-67.875-28.125t-28.125-67.875v-384q0-39.75 28.125-67.875t67.875-28.125zM672 576v-349.5l-268 214.5q-8.5 7-20 7t-20-7l-268-214.5v349.5q0 13.25 9.375 22.625t22.625 9.375h512q13.25 0 22.625-9.375t9.375-22.625zM640 160h-512q-4.75 0-10.5 1.75l266.5 213.25 266.5-213.25q-5.75-1.75-10.5-1.75z'></path></svg>"); }

.icon-user, .op-contact_item #firstname,
.op-contact_item #lastname {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 768 768'><path fill='%2392959a' d='M384 0q52.25 0 96.375 25.75t69.875 69.875 25.75 96.375v96q0 40-15.5 75.75t-43.25 62.25q73 11.5 129.75 33.875t88.875 52.875 32.125 64.25v63q0 39.75-28.125 67.875t-67.875 28.125h-576q-39.75 0-67.875-28.125t-28.125-67.875v-63.25q0-33.75 32.125-64.25t88.75-52.875 129.625-33.625q-27.5-26.75-43-62.375t-15.5-75.625v-96q0-52.25 25.75-96.375t69.875-69.875 96.375-25.75zM384 480q-69.5 0-134.125 11.125t-112.625 31.125q-19.25 8-34.375 17t-23 16.25-11.875 12.625-4 8.625v63.25q0 13.25 9.375 22.625t22.625 9.375h576q13.25 0 22.625-9.375t9.375-22.625v-63q0-3.25-4-8.625t-11.875-12.625-23-16.25-34.375-17.25q-48-20-112.625-31.125t-134.125-11.125zM384 64q-53 0-90.5 37.5t-37.5 90.5v96q0 53 37.5 90.5t90.5 37.5 90.5-37.5 37.5-90.5v-96q0-53-37.5-90.5t-90.5-37.5z'></path></svg>"); }

.icon-web, .op-contact_item #website {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 768 768'><path fill='%2392959a' d='M224 32h320q39.75 0 67.875 28.125t28.125 67.875v608l-256-192-256 192v-608q0-39.75 28.125-67.875t67.875-28.125zM544 96h-320q-13.25 0-22.625 9.375t-9.375 22.625v480l192-144 192 144v-480q0-13.25-9.375-22.625t-22.625-9.375z'></path></svg>"); }

/*
$color-gray-light-xxx
$color-gray-light-xx
$color-gray-light-x
$color-gray-light
$color-gray-dark
$color-gray-dark-x
$color-gray-dark-xx
$color-gray-dark-xxx

$font-size-headline-large (48px)
$font-size-headline (36px)
$font-size-headline-small (24px)
$font-size-teaser (18px)
$font-size-text (14px)

$font-weight-thin
$font-weight-normal
$font-weight-bold
*/
/* block 1 ******/
.op-head {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box; }

/* block 2 ******/
.op-pers {
  float: left;
  clear: both; }
  .op-pers_img {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
    @media (min-width: 40.0625rem) {
      .op-pers_img {
        float: left;
        width: 50%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box; } }
    @media (min-width: 60.0625rem) {
      .op-pers_img {
        float: left;
        width: 33.33333%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box; } }
  .op-pers_txt {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
    @media (min-width: 40.0625rem) {
      .op-pers_txt {
        clear: none;
        float: left;
        width: 50%;
        margin-left: 50%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box; } }
    @media (min-width: 60.0625rem) {
      .op-pers_txt {
        float: left;
        width: 66.66667%;
        margin-left: 33.33333%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box; } }

/* block 3 ******/
.op-special-a {
  clear: both; }
  .op-special-a_hdr_img {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  .op-special-a_txt {
    clear: both; }
    .op-special-a_txt_first {
      float: left;
      width: 100%;
      margin-left: 0%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; }
    .op-special-a_txt_second {
      clear: both;
      float: left;
      width: 100%;
      margin-left: 0%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; }
    @media (min-width: 40.0625rem) {
      .op-special-a_txt_first {
        float: left;
        width: 50%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box; }
      .op-special-a_txt_second {
        clear: none;
        float: left;
        width: 50%;
        margin-left: 50%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box; } }

.op-special-b_txt {
  clear: both; }
  .op-special-b_txt_first {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  .op-special-b_txt_second {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  @media (min-width: 40.0625rem) {
    .op-special-b_txt_first {
      float: left;
      width: 33.33333%;
      margin-left: 0%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; }
    .op-special-b_txt_second {
      clear: none;
      float: left;
      width: 66.66667%;
      margin-left: 33.33333%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; } }

/* block 4 ******/
.op-favorite-a_txt {
  clear: both; }
  .op-favorite-a_txt_first {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }

/* block 5 ******/
.op-favorite-b {
  clear: both; }
  .op-favorite-b_txt_first {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
    @media (min-width: 40.0625rem) {
      .op-favorite-b_txt_first {
        float: left;
        width: 50%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box; } }
  .op-favorite-b_txt_second {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
    @media (min-width: 40.0625rem) {
      .op-favorite-b_txt_second {
        clear: none;
        float: left;
        width: 50%;
        margin-left: 50%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box; } }
  .op-favorite-b_prj {
    clear: both; }
    .op-favorite-b_prj_a {
      float: left;
      width: 33.33333%;
      margin-left: 0%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; }
    .op-favorite-b_prj_b {
      clear: none;
      float: left;
      width: 33.33333%;
      margin-left: 33.33333%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; }
    .op-favorite-b_prj_c {
      clear: none;
      float: left;
      width: 33.33333%;
      margin-left: 66.66667%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; }

/* block 6 ******/
.op-contact {
  clear: both; }
  .op-contact_leg {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  .op-contact_item--firstname {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  .op-contact_item--lastname {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  .op-contact_item--email {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  .op-contact_item--web {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  .op-contact_item--text {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  @media (min-width: 40.0625rem) {
    .op-contact_leg {
      clear: both;
      float: left;
      width: 100%;
      margin-left: 0%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; }
    .op-contact_item--firstname {
      float: left;
      width: 50%;
      margin-left: 0%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; }
    .op-contact_item--lastname {
      clear: none;
      float: left;
      width: 50%;
      margin-left: 50%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; }
    .op-contact_item--email {
      float: left;
      width: 50%;
      margin-left: 0%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; }
    .op-contact_item--web {
      clear: none;
      float: left;
      width: 50%;
      margin-left: 50%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; }
    .op-contact_item--text {
      clear: both;
      float: left;
      width: 100%;
      margin-left: 0%;
      margin-right: -100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box; } }

.op-foot {
  clear: both;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box; }

body {
  font-family: "texgyreadventorregular";
  font-weight: 400;
  font-style: normal;
  /* include transparency - example: 0.5 */
  background: #22272f;
  color: #7c8aa1; }

.op-page {
  max-width: 1000px; }

section, header, article, div {
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 71.04px;
  line-height: 4.44rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 47.36px;
  line-height: 2.96rem;
  margin: 15px 0;
  margin: 0.9375rem 0;
  color: #00b9c4; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 35.52px;
  line-height: 2.22rem;
  margin: 15px 0 10px 0;
  margin: 0.9375rem 0 0.625rem 0;
  color: #00b9c4; }

p, i {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20.72px;
  line-height: 1.295rem;
  color: #ffffff; }

/* block 1 ******/
.op-head {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  background: url("img/demo.jpg") no-repeat center center;
  background-size: cover; }
  .op-head_logo {
    text-align: center; }
    .op-head_logo_txt {
      display: block;
      /* include transparency - example: 0.5 */
      background: #22272f;
      color: #7c8aa1;
      background: url("img/logo.png") no-repeat center center;
      background-size: cover;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      overflow: hidden;
      border-radius: 50%;
      width: 70vw;
      height: 70vw;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 26.64px;
      line-height: 1.665rem;
      display: block;
      overflow: hidden;
      text-align: left;
      text-indent: -9999px;
      margin-bottom: 10vmax; }
      @media (min-width: 40.0625rem) {
        .op-head_logo_txt {
          /* include transparency - example: 0.5 */
          background: #22272f;
          color: #7c8aa1;
          background: url("img/logo.png") no-repeat center center;
          background-size: cover;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          overflow: hidden;
          border-radius: 50%;
          width: 35vw;
          height: 35vw; } }
      @media (min-width: 60.0625rem) {
        .op-head_logo_txt {
          /* include transparency - example: 0.5 */
          background: #22272f;
          color: #7c8aa1;
          background: url("img/logo.png") no-repeat center center;
          background-size: cover;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          overflow: hidden;
          border-radius: 50%;
          width: 35vw;
          height: 35vw; } }

/* block 2 ******/
.op-pers {
  clear: both; }
  .op-pers_img_item {
    display: block;
    margin-top: 5vmax;
    /* include transparency - example: 0.5 */
    background: #22272f;
    color: #7c8aa1;
    background: url("img/user.png") no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    width: 50vw;
    height: 50vw; }
    @media (min-width: 40.0625rem) {
      .op-pers_img_item {
        /* include transparency - example: 0.5 */
        background: #22272f;
        color: #7c8aa1;
        background: url("img/user.png") no-repeat center center;
        background-size: cover;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        width: 35vw;
        height: 35vw; } }
    @media (min-width: 60.0625rem) {
      .op-pers_img_item {
        /* include transparency - example: 0.5 */
        background: #22272f;
        color: #7c8aa1;
        background: url("img/user.png") no-repeat center center;
        background-size: cover;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        width: 15vw;
        height: 15vw; } }
    .op-pers_img_item_lbl {
      display: block;
      overflow: hidden;
      text-align: left;
      text-indent: -9999px; }
  .op-pers_txt {
    text-align: center; }
    @media (min-width: 40.0625rem) {
      .op-pers_txt {
        text-align: left; } }
    .op-pers_txt_hl {
      font-size: 48px;
      font-size: 3rem;
      line-height: 53.28px;
      line-height: 3.33rem;
      padding-bottom: 20px;
      padding-bottom: 1.25rem; }
    .op-pers_txt_intro {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 26.64px;
      line-height: 1.665rem;
      padding-bottom: 15px;
      padding-bottom: 0.9375rem; }

/* block 3 ******/
.op-special-a_hdr {
  position: relative;
  overflow: hidden;
  height: 300px; }
  .op-special-a_hdr_img {
    position: absolute;
    top: 75px;
    width: 100% !important;
    height: 600px !important; }
  .op-special-a_hdr_hl {
    position: absolute;
    top: 30px;
    left: 0; }
  .op-special-a_hdr_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 100%;
    background: url("img/demo.jpg") no-repeat center center;
    background-size: cover; }
  .op-special-a_hdr_hl {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 35.52px;
    line-height: 2.22rem;
    padding: 5px 10px 5px 10px;
    padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
    /* include transparency - example: 0.5 */
    background: #22272f;
    color: #7c8aa1; }

/* block 4 ******/
.op-favorite-a_txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  background: url("img/demo.jpg") no-repeat center center;
  background-size: cover; }

/* block 5 ******/
.op-favorite-b_prj_a, .op-favorite-b_prj_b, .op-favorite-b_prj_c {
  height: 40vw;
  overflow: hidden; }
  @media (min-width: 60.0625rem) {
    .op-favorite-b_prj_a, .op-favorite-b_prj_b, .op-favorite-b_prj_c {
      height: 25vw; } }
  .op-favorite-b_prj_a_lbl, .op-favorite-b_prj_b_lbl, .op-favorite-b_prj_c_lbl {
    text-align: center; }
    .op-favorite-b_prj_a_lbl b, .op-favorite-b_prj_b_lbl b, .op-favorite-b_prj_c_lbl b {
      display: block;
      width: 100%;
      padding: 5px;
      padding: 0.3125rem;
      /* include transparency - example: 0.5 */
      background: rgba(0, 0, 0, 0.75);
      color: #666666;
      color: #ffffff;
      white-space: nowrap; }
      @media (min-width: 60.0625rem) {
        .op-favorite-b_prj_a_lbl b, .op-favorite-b_prj_b_lbl b, .op-favorite-b_prj_c_lbl b {
          padding: 15px;
          padding: 0.9375rem; } }
.op-favorite-b_prj_a_lbl {
  /* include transparency - example: 0.5 */
  background: #22272f;
  color: #7c8aa1;
  background: url("img/demo.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  width: 27vw;
  height: 27vw; }
  @media (min-width: 60.0625rem) {
    .op-favorite-b_prj_a_lbl {
      /* include transparency - example: 0.5 */
      background: #22272f;
      color: #7c8aa1;
      background: url("img/demo.jpg") no-repeat center center;
      background-size: cover;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      overflow: hidden;
      border-radius: 50%;
      width: 20vw;
      height: 20vw; } }
.op-favorite-b_prj_b_lbl {
  /* include transparency - example: 0.5 */
  background: #22272f;
  color: #7c8aa1;
  background: url("img/demo.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  width: 27vw;
  height: 27vw; }
  @media (min-width: 60.0625rem) {
    .op-favorite-b_prj_b_lbl {
      /* include transparency - example: 0.5 */
      background: #22272f;
      color: #7c8aa1;
      background: url("img/demo.jpg") no-repeat center center;
      background-size: cover;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      overflow: hidden;
      border-radius: 50%;
      width: 20vw;
      height: 20vw; } }
.op-favorite-b_prj_c_lbl {
  /* include transparency - example: 0.5 */
  background: #22272f;
  color: #7c8aa1;
  background: url("img/demo.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  width: 27vw;
  height: 27vw; }
  @media (min-width: 60.0625rem) {
    .op-favorite-b_prj_c_lbl {
      /* include transparency - example: 0.5 */
      background: #22272f;
      color: #7c8aa1;
      background: url("img/demo.jpg") no-repeat center center;
      background-size: cover;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      overflow: hidden;
      border-radius: 50%;
      width: 20vw;
      height: 20vw; } }

/* block 6 ******/
.op-contact_item {
  position: relative; }
  .op-contact_item_inp {
    width: 100%;
    padding: 10px 0 10px 50px;
    padding: 0.625rem 0 0.625rem 3.125rem;
    background-color: #262c35;
    color: #92959a;
    font-family: "texgyreadventorregular";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 38.48px;
    line-height: 2.405rem;
    border: 1px solid #3b4149;
    background-clip: content-box;
    background-size: 30px 30px;
    background-position: 10px 14px;
    background-repeat: no-repeat;
    background-clip: inherit; }
    .op-contact_item_inp:focus {
      border-color: #00b9c4;
      color: #00b9c4; }
  .op-contact_item #usrtxt {
    height: 178.8px;
    height: 11.175rem; }
    @media (min-width: 60.0625rem) {
      .op-contact_item #usrtxt {
        height: 238.4px;
        height: 14.9rem; } }
  .op-contact_item .error {
    border-color: #ff5f63; }
  .op-contact_item .form-error {
    position: absolute;
    top: 1px;
    left: 11px;
    /* include transparency - example: 0.5 */
    background: #ff5f63;
    color: #920004;
    padding: 10px 0 10px 10px;
    padding: 0.625rem 0 0.625rem 0.625rem;
    width: calc(100% - 22px);
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 38.48px;
    line-height: 2.405rem;
    text-align: right; }
    .op-contact_item .form-error b {
      padding-right: 10px;
      padding-right: 0.625rem; }
  .op-contact_item #form-submit {
    margin-top: 20px;
    margin-top: 1.25rem;
    padding-left: 0;
    /* include transparency - example: 0.5 */
    background: #00b9c4;
    color: #91f9ff;
    border: none;
    cursor: pointer; }
    .op-contact_item #form-submit.error {
      /* include transparency - example: 0.5 */
      background: #ff5f63;
      color: #920004; }
    .op-contact_item #form-submit.success {
      /* include transparency - example: 0.5 */
      background: #83c46f;
      color: #28491e; }

.op-foot {
  /* include transparency - example: 0.5 */
  background: #13161a;
  color: #697a90;
  padding: 10px;
  padding: 0.625rem; }
  @media (min-width: 40.0625rem) {
    .op-foot {
      padding: 20px 40px;
      padding: 1.25rem 2.5rem;
      text-align: center; } }
  .op-foot_txt {
    color: #676b71; }

/* menu ******/
.op-nav_btn {
  display: block;
  position: fixed;
  bottom: -10px;
  bottom: -0.625rem;
  left: calc(50% - 30px);
  left: calc(50% - 1.875rem);
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
  /* include transparency - example: 0.5 */
  background: rgba(34, 39, 47, 0.2);
  color: #7c8aa1;
  cursor: pointer;
  -webkit-animation: burgerbg 0.5s 1;
          animation: burgerbg 0.5s 1; }
@-webkit-keyframes burgerbg {
  0% {
    background-color: transparent; }
  100% {
    /* include transparency - example: 0.5 */
    background: rgba(34, 39, 47, 0.2);
    color: #7c8aa1; } }
@keyframes burgerbg {
  0% {
    background-color: transparent; }
  100% {
    /* include transparency - example: 0.5 */
    background: rgba(34, 39, 47, 0.2);
    color: #7c8aa1; } }
  .op-nav_btn_ico {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 50px;
    width: 50px; }
    .op-nav_btn_ico span {
      display: block;
      position: absolute;
      background: #ffffff;
      height: 10px;
      width: 100%;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
              transition: .25s ease-in-out; }
      .op-nav_btn_ico span:nth-child(1) {
        top: 0px;
        -webkit-animation: burger 4s 1;
                animation: burger 4s 1; }
      .op-nav_btn_ico span:nth-child(2) {
        top: 20px;
        -webkit-animation: burger 2.5s 1;
                animation: burger 2.5s 1; }
      .op-nav_btn_ico span:nth-child(3) {
        top: 20px;
        background-color: transparent; }
      .op-nav_btn_ico span:nth-child(4) {
        top: 40px;
        -webkit-animation: burger 1s 1;
                animation: burger 1s 1; }
@-webkit-keyframes burger {
  0% {
    background-color: transparent; }
  100% {
    background-color: #ffffff; } }
@keyframes burger {
  0% {
    background-color: transparent; }
  100% {
    background-color: #ffffff; } }
    .op-nav_btn_ico.open span:nth-child(1) {
      top: 20px;
      width: 0%;
      left: 50%; }
    .op-nav_btn_ico.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .op-nav_btn_ico.open span:nth-child(3) {
      background-color: #ffffff;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .op-nav_btn_ico.open span:nth-child(4) {
      top: 20px;
      width: 0%;
      left: 50%; }
.op-nav_men {
  z-index: 2;
  display: none;
  /* include transparency - example: 0.5 */
  background: rgba(34, 39, 47, 0.9);
  color: #7c8aa1;
  position: fixed;
  bottom: 80px;
  bottom: 5rem;
  left: 10px;
  left: 0.625rem;
  width: calc(100% - 20px);
  width: calc(100% - 1.25rem); }
  @media (min-width: 40.0625rem) {
    .op-nav_men {
      width: 50%;
      left: 25%; } }
  @media (min-width: 60.0625rem) {
    .op-nav_men {
      width: 30%;
      left: 35%; } }
  .op-nav_men_item {
    border-bottom: 1px solid #3b4149;
    border-color: rgba(59, 65, 73, 0.5);
    background-clip: content-box;
    font-family: "texgyreadventorbold";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 53.28px;
    line-height: 3.33rem;
    text-align: center; }
    @media (min-width: 40.0625rem) {
      .op-nav_men_item {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 53.28px;
        line-height: 3.33rem; } }
    .op-nav_men_item_url {
      padding: 3px 10px 5px 10px;
      padding: 0.1875rem 0.625rem 0.3125rem 0.625rem;
      color: #dedfe0;
      width: 100%;
      cursor: pointer;
      display: block; }
      .op-nav_men_item_url:hover {
        /* include transparency - example: 0.5 */
        background: #1e232a;
        color: #77879d;
        color: #ffffff; }
    .op-nav_men_item:last-child {
      border: none; }
